<nav>
    <div class="site-title">
        <a href="/">
            <h1>BLOG SAVERS</h1>
        </a>
        <p> Write a blog a day</p>
    </div>
    <ul>
        <li> <a href="/">BLOGS</a></li>
        <li> <a href="/about">ABOUT</a></li>
        <li> <a href="/blogs/create"> NEW BLOG</a></li>
    </ul>
</nav>