<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>ABOUT US</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sequi neque a aliquam quam delectus itaque ab, ipsa quibusdam, saepe eveniet ullam consequatur vitae excepturi incidunt tempora deserunt deleniti consequuntur.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sequi neque a aliquam quam delectus itaque ab, ipsa quibusdam, saepe eveniet ullam consequatur vitae excepturi incidunt tempora deserunt deleniti consequuntur.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sequi neque a aliquam quam delectus itaque ab, ipsa quibusdam, saepe eveniet ullam consequatur vitae excepturi incidunt tempora deserunt deleniti consequuntur.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sequi neque a aliquam quam delectus itaque ab, ipsa quibusdam, saepe eveniet ullam consequatur vitae excepturi incidunt tempora deserunt deleniti consequuntur.</p>    
    </div>
<%- include('./partials/footer.ejs')  %> 
</body>

</html>